.task {
  padding-left: 40%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;

}


.form {
  padding-left: 40%;
}

button {
  margin-left: 10px;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid black;
}

button:hover {
  background-color: black;
  color: white;
}

.clear {
  margin-top: 20px;
}


.taskCompleted {
  text-decoration: line-through;
  color: black;
}
